<div class="main-content d-flex align-items-center justify-content-center">
    <div class="container-lg my-5 " style="height: 100%;">

      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Orders</h5>
              <p class="card-text">See purchase reports filtered by date and category.</p>
              <a href="#" class="btn btn-primary" routerLink="/admin/orders">manage orders</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">products</h5>
              <p class="card-text">Manage the products in the store including categorizing them.</p>
              <a href="#" class="btn btn-primary" routerLink="/admin/products">manage products</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Users</h5>
              <p class="card-text">Browse the list of users who have signed up and be able to search users.</p>
              <a href="#" class="btn btn-primary" routerLink="/admin/users">manage users</a>
            </div>
          </div>
        </div>
      </div>


          
        </div>
      </div>

